@font-face {
  font-family: 'Integral CF';
  src: url('/Integral_CF.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('/NimbusSanL-Reg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('/NimbusSanL-RegIta.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('/NimbusSanL-Bol.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('/NimbusSanL-BolIta.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nimbus Sans';
  src: url('/nimbussansdot-ultrligh.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --auriu: #c99700;
  --negru: #141414;
  --negru-soft: #232222;
  --alb: #ffffff;
  --floral-white: #fcfbf2;
}

body {
  background: var(--negru);
  color: var(--floral-white);
  font-family: 'Nimbus Sans', sans-serif;
  font-weight: 400;
}